<% provide :title, controller_name + " [#{action_name}]" %>


<div id="log-content" class="panel panel-default">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="<%= active?("production") %>"><%= link_to "tmp/production.log", log_production_path %></li>
    <li role="presentation" class="<%= active?("access") %>"><%= link_to "httpd/access.log", log_access_path %></li>
    <li role="presentation" class="<%= active?("error") %>"><%= link_to "httpd/error.log", log_error_path %></li>
  </ul>



  <table class="table content">
    <% i = 1 %>
    <% @log.last(50).each do |row|  %>
    <tr>
      <td><%= i %></td>
      <td><%= row %></td>
    </tr>

    <% i = i + 1 %>

    <% end %>
  </table>


</div>