<div class="diary-content panel panel-default">
	<div class="panel-body">
		<div>
			<h1 class="diary-title page-header">
				<%= link_to diary.title, diary %>
			</h1>
			<div class="diary-body"><%= convert_content(diary.body) %></div>
			<div class="diary-footer">
				<div class="diary-category col-md-6">
					<a href="<%= diary_category_path(diary.category_id) %>">
						<span class="glyphicon glyphicon-tag"></span>
						<%= diary.category.name %>
					</a>
				</div>
				<div class="diary-authored col-md-6">
					<%= to_strf(diary.authored_on) %>
					<span class="weather"><%= if diary.weather_id then weather_icon(diary.weather.file_name) end %><span>
				</div>
			</div>
		</div>
	</div>
</div>
