<div class="diary-content panel panel-default">
	<div class="panel-body">
		<div>
			<h1 class="diary-title page-header">
				<%= link_to diary.title, diary %>
			</h1>
			<div class="diary-body"><%= convert_content(diary.body) %></div>
			<div class="diary-footer">
				<div class="col-md-6">
					<a href="<%= unless diary then diary_category_path(diary.category_id) end %>">
						<span class="glyphicon glyphicon-tag"></span>
						<span class="diary-category"><%= if diary.category_id then diary.category.name end %></span>
					</a>
				</div>
				<div class="text-right col-md-6">
					<span class="diary-authored"><%= to_strf(diary.authored_on) %></span>
					<span class="diary-weather"><%= if diary.weather_id then weather_icon(diary.weather.file_name) end %><span>
				</div>
			</div>
		</div>
	</div>
</div>
