<%= form_for(@diary, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
<% if @diary.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4><%= pluralize(@diary.errors.count, "error") %> prohibited this diary from being saved:</h4>

	<ul>
		<% @diary.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :authored_on, :class => "col-sm-2 control-label" %>
	<div class="col-sm-2">
		<%= f.text_field :authored_on, :value => @diary.authored_on.nil? ? Time.now.strftime("%Y-%m-%d %H:%M") : @diary.authored_on.strftime("%Y-%m-%d %H:%M") , :class => "form-control" %>
	</div>
	<div class="col-sm-2 category">
		<%= f.select :category_id, Category.order(:no).map{|t| [t.name, t.id]}, {} , {:class => "show-tick"} %>
	</div>
	<div class="col-sm-6 weather">
		<%= f.select :weather_id, Weather.all.map{|t| [t.name, t.id]}, {} , {:class => "show-tick"} %>
		<div class="btn-group" role="group">
			<% Weather.all.each do |t| %>
			<button type="button" class="btn btn-default"><%= weather_icon(t.file_name) %></button>
			<% end %>
		</div>

	</div>
</div>
<div class="form-group">
	<%= f.label :title, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :title, :class => "form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :body, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_area :body, :size => "30x10", :class => "form-control" %>
	</div>
</div>


<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<%= f.submit :class => "btn btn-primary" %>
	</div>
</div>

<div class="diary col-sm-offset-2">
<div class="well well-sm text-center">preview</div>
	<%= render "content", :diary => @diary %>
</div>


<% end %>

