<% content_for :title do @diary.title.html_safe end %>

<% unless current_user.nil? %>
<div class="page-header">
  <a href="<%= admin_index_diaries_path %>" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> list</a>
  <a href="<%= edit_diary_path(@diary) %>" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> edit</a>
  <h1>Show diary</h1>
</div>
<% end %>

<div class="diary col-md-9 col-md-offset-1">
  <%= render 'diaries/content', diary: @diary %>


  <ul class="nav nav-pills nav-justified">
    <li class="<%= if @next.nil? then "disabled" end %>">
      <%= link_to @next do %>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> new
      <% end %>
    </li>

    <li>
      <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> home
      <% end %>
    </li>

    <li class="<%= if @prev.nil? then "disabled" end %>">
      <%= link_to @prev do %>
      old <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <% end %>
    </li>

  </ul>

</div>


<div id="sidebar" class="col-md-2">
  <%= render :partial => 'shared/sidebar', diary_counts: @diary_counts %>
</div>

