<div class="page-header">
  <%= link_to diaries_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_diary_path(@diary), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show diary</h1>
</div>

<dl class="dl-horizontal">
  <dt>Authored on:</dt>
  <dd><%= @diary.authored_on %></dd>

  <dt>Category:</dt>
  <dd><%= @diary.category_id %></dd>

  <dt>Title:</dt>
  <dd><%= @diary.title %></dd>

  <dt>Body:</dt>
  <dd><%= br(Sanitize.clean(@diary.body, Sanitize::Config::RELAXED_CUSTOM)).html_safe %></dd>

  <dt>Wheather:</dt>
  <dd><%= @diary.wheather_id %></dd>

  <dt>Mt:</dt>
  <dd><%= @diary.mt_id %></dd>

</dl>
